<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Password Recovery</title>
</head>
<body>
    <form action = "/forgot" method = "post">
        <h1>Password Recovery</h1>
        <input type = "email" placeholder="enter the email" name = "email" required/>
        <button>submit</button>
    </form>
</body>
</html>