<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <h3>Hey <%=  username   %>!</h3>
    <h4>Email: <%= email %></h4>
    <h5>Account Created: <%= date   %></h5>
    <form action = "/signout">
        <button>Signout</button>
    </form>
    <br><br>
    <a href = "/products">See all Products</a>
</body>
</html>