<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | SignUp</title>
</head>
<body>
    <form action = "/signup" method = "post">
        <h3>Sign Up</h3>
        <input type = "text" placeholder="enter the username" name = "username" required/>
        <input type = "email" placeholder="enter the email" name = "email" required/>
        <input type = "password" placeholder="enter the password" name = "password" required/>
        <button>submit</button>
    </form>
</body>
</html>