<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce | SignIn</title>
</head>
<body>
    <form action = "/signin" method = "post">
        <h3>Sign In</h3>
        <input type = "email" placeholder="enter the email" name = "email" required/>
        <input type = "password" placeholder="enter the password" name = "password" required/>
        <button>submit</button>
        <br><br>
        <a href = "/forgot">Forgot Password?</a>
    </form>
</body>
</html>